Some code i guess

In [ ]:
import numpy as np
import pandas as pd


from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
iris_data = pd.read_csv("/content/drive/MyDrive/PGSS 2021/L1 762021/iris.csv", header = None)

print(iris_data)

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [ ]:
x = ["Sepal.Length", "Sepal.Width", "Petal.Length", "Petal.Width", "Species"]
iris_data.columns = x

In [ ]:
from google.colab import auth
auth.authenticate_user()
import gspread
from oauth2client.client import GoogleCredentials
gc = gspread.authorize(GoogleCredentials.get_application_default())

In [ ]:
iris_data["Sepal.Length"] = iris_data["Sepal.Length"].astype("float32")
iris_data["Sepal.Width"] = iris_data["Sepal.Width"].astype("float32")
iris_data["Petal.Length"] = iris_data["Petal.Length"].astype("float32")
iris_data["Petal.Width"] = iris_data["Petal.Width"].astype("float32")

iris_data["Species"] = iris_data["Species"].astype("category")
iris_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sepal.Length  150 non-null    float32
 1   Sepal.Width   150 non-null    float32
 2   Petal.Length  150 non-null    float32
 3   Petal.Width   150 non-null    float32
 4   Species       150 non-null    category
dtypes: category(1), float32(4)
memory usage: 2.7 KB

In [ ]:
import pandas as pd
wb = gc.open_by_url('https://docs.google.com/spreadsheets/d/1sBi5H-dW-3-0KL2ANJ8zd4yJr79VvOZJMzSe_X_D8lk/edit?usp=sharing') 
sheet = wb.worksheet('iris')

# Now that we have the tab specified it’s time to get the data. To do this we will just call the get_all_values() function off of the sheet object we created above:
data = sheet.get_all_values()

df = pd.DataFrame(data[1:])
df.columns = data[0]

df

    Sepal.Length Sepal.Width Petal.Length Petal.Width         Species
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9           3          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4              5         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7           3          5.2         2.3  Iris-virginica
146          6.3         2.5            5         1.9  Iris-virginica
147          6.5           3          5.2           2  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9           3          5.1         1.8  Iris-virginica

[150 rows x 5 columns]